<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>
    <title>Shrt.go | 404 Not Found</title>
</head>
<body style="background-color: #FBBE81; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="404" style="display: flex; flex-direction: column; align-items: center; color: #FFFFFF; font-size: 10rem; font-weight: 800;">
        404
        <span class="status" style="font-size: 2rem; font-weight: 300;">NOT FOUND</span>
    </div>
</body>
</html>